body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html, 
body {
    height: 100%;
}


.App {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
}

.left-panel, .right-panel {
  display: flex;
  padding: 16px;
  flex-direction: column;
  width: 50%;
}

.sql-editor {
  height: 50%;
  max-height: 50vh;
}

.query-list-item {
  cursor: pointer;
  padding: 8px;
  line-height: 1.5;
  border-bottom: 0.5px solid grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.query-list-item:hover {
  font-style: bold;
  background-color: rgba(126, 168, 248, 0.5);
}


.query-actions {
  display: flex;
  align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 8px;
  margin: 8px;
}

.query-actions > button {
  padding: 8px 16px;
  background-color: #7ea8f8;
  color: white;
  border: 0px;
  cursor: pointer;
}


.query-actions > button:hover {
  font-style: bold;
  background-color: #6698f3;
}

.query-list {
  height: 50%;
  max-height: 50vh;

  overflow-y: scroll;
}

.result-table {
  border-left: 1px solid grey;
  padding: 8px;
  max-height: 90vh;
  overflow-y: scroll;
}

.result-table > table {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  color: black;

}

.result-table  table  td, .result-table  table  th {
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  padding: 5px;
  text-align : left;
}

.result-table  table > thead {
  background-color: #7ea8f8;
  color: white;

}